.image-selection input[type="radio"]:checked + label img {
    background: pink;
}
.image-selection input[type="radio"] {
    display: none;
}

.laundry-images {
    margin: 3px;
    padding: 8px;
}

.background--sunny {
    background-image: url("../images/users/sunny.jpg");
    background-size: cover;
}

.heading-image {
    background-image: url("../images/common/heading.png");
    background-size: 100% 100%;
}