.image-selection input[type="radio"]:checked + label img {
    background: orange;
}
.image-selection input[type="radio"] {
    display: none;
}

.laundry-images {
    margin: 3px;
    padding: 8px;
}